In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
url = "https://www.basketball-reference.com/leagues/NBA_" + "2023" + "_per_game.html"
html = pd.read_html(url)
raw = html[0]
raw = raw.drop(raw[raw['Age'] == 'Age'].index)
raw = raw.fillna(0)
df = raw.drop(columns='Rk')

In [25]:
df.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Precious Achiuwa,C,23,TOR,40,11,22.7,3.8,7.9,.479,...,.689,2.0,4.4,6.4,1.0,0.6,0.7,1.2,2.1,9.9
1,Steven Adams,C,29,MEM,42,42,27.0,3.7,6.3,.597,...,.364,5.1,6.5,11.5,2.3,0.9,1.1,1.9,2.3,8.6
2,Bam Adebayo,C,25,MIA,59,59,35.0,8.4,15.6,.536,...,.805,2.6,7.1,9.7,3.2,1.2,0.8,2.5,2.8,21.2
3,Ochai Agbaji,SG,22,UTA,41,4,16.0,1.9,4.1,.464,...,.682,0.7,1.1,1.8,0.6,0.2,0.1,0.4,1.5,5.2
4,Santi Aldama,PF,22,MEM,59,18,21.9,3.3,6.9,.472,...,.725,1.0,3.6,4.6,1.2,0.7,0.7,0.7,1.9,9.2

In [39]:
teams = sorted(df['Tm'].unique())[0:5]

In [40]:
teams

['ATL', 'BOS', 'BRK', 'CHI', 'CHO']

In [61]:
positions = ['C', 'SG', 'PF', 'PG', 'SF'][3:5]

In [62]:
positions

['PG', 'SF']

In [63]:
position_regex = "|".join(positions)
position_regex

'PG|SF'

In [64]:
team_filter = df['Tm'].isin(teams)
position_filter = df['Pos'].str.contains(position_regex, regex=True)

In [81]:
df[team_filter & position_filter].

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37 entries, 25 to 655
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  37 non-null     object
 1   Pos     37 non-null     object
 2   Age     37 non-null     object
 3   Tm      37 non-null     object
 4   G       37 non-null     object
 5   GS      37 non-null     object
 6   MP      37 non-null     object
 7   FG      37 non-null     object
 8   FGA     37 non-null     object
 9   FG%     37 non-null     object
 10  3P      37 non-null     object
 11  3PA     37 non-null     object
 12  3P%     37 non-null     object
 13  2P      37 non-null     object
 14  2PA     37 non-null     object
 15  2P%     37 non-null     object
 16  eFG%    37 non-null     object
 17  FT      37 non-null     object
 18  FTA     37 non-null     object
 19  FT%     35 non-null     object
 20  ORB     37 non-null     object
 21  DRB     37 non-null     object
 22  TRB     37 non-null     object
 23  AST     37 non-null     object
 24  STL     37 non-null     object
 25  BLK     37 non-null     object
 26  TOV     37 non-null     object
 27  PF      37 non-null     object
 28  PTS     37 non-null     object
dtypes: object(29)
memory usage: 8.7+ KB