In [25]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
import pickle

In [26]:
df = pd.read_csv('penguins_cleaned.csv')

In [27]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181,3750,male
1,Adelie,Torgersen,39.5,17.4,186,3800,female
2,Adelie,Torgersen,40.3,18.0,195,3250,female
3,Adelie,Torgersen,36.7,19.3,193,3450,female
4,Adelie,Torgersen,39.3,20.6,190,3650,male

In [28]:
df['island'].unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

In [29]:
df['sex'].unique()

array(['male', 'female'], dtype=object)

In [30]:
offset = 0.1

In [31]:
def getOffsetRange(column):
    mi = column.min()
    ma = column.max()
    ran = ma - mi
    return (mi - offset*ran, ma + offset*ran)

In [32]:
df.select_dtypes(include = np.number).apply(getOffsetRange)

   bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
0           29.35          12.26              166.1       2340.0
1           62.35          22.34              236.9       6660.0

In [38]:
x = df.drop(columns='species')
y = df['species']

In [39]:
x = pd.get_dummies(x)
x.head()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,island_Biscoe,island_Dream,island_Torgersen,sex_female,sex_male
0,39.1,18.7,181,3750,0,0,1,0,1
1,39.5,17.4,186,3800,0,0,1,1,0
2,40.3,18.0,195,3250,0,0,1,1,0
3,36.7,19.3,193,3450,0,0,1,1,0
4,39.3,20.6,190,3650,0,0,1,0,1

In [40]:
y.unique()

array(['Adelie', 'Gentoo', 'Chinstrap'], dtype=object)

In [41]:
y = y.replace({'Adelie':0, 'Gentoo':1, 'Chinstrap':2})

In [42]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: species, dtype: int64

In [43]:
classifier = RandomForestClassifier()

In [44]:
classifier.fit(x,y)

RandomForestClassifier()

In [45]:
pickle.dump(classifier, open('model.pickle', 'wb'))